
.satu, .dua, .tiga {
	width: 200px;
	height: 200px;
}

.satu {
	background-color: lightgreen;
	position: fixed;
	z-index: 1;
}

.dua {
	background-color: violet;
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 2;
}

.tiga {
	background-color: gold;
	position: absolute;
	top: 200px;
	left: 200px;
}